<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="contact-container">
    <div class="contact-title">
        <h1 class="contact-title-1">КОНТАКТЫ</h1>
    </div>
    <div class="container-contact-description">
            <img src="assets/image/gl_photo.png" alt="" class="image-contact">

        <div class="description-container-1">
            <div class="contact-description-text">
                <p class="contact-name-1">Досмухамедов Булат Рамильевич</p>
                <p class="contact-role-1">Кандидат технических наук, Директор ООО НПП «ДосЛаб»</p>
            </div>
            <div class="contact-contact">
                E-Mail: bulat@doslab.ru<br>
                Skype: bulatdos<br>
                Адрес: г. Астрахань ул. Адмиралтейская д. 22<br>
            </div>
            <div class="contact-map"></div>
        </div>
    </div>
</div>
</body>
</html>