<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="user-info-container">
    <div class="user-info">
        <div class="lk-head-info">
            <img class="lk-user-portrait" src="assets/image/portret.png" alt="">
            <div class="user-name"></div>
        </div>
        <div class="lk-course-info">
            <div class="title-lk-info">Вы записаны на курсы:</div>
                <script>getCourseInfo()</script>
            </div>
        </div>
    </div>
</div>
<script>getUser()</script>

</body>
</html>