<div class="section-1">
    <div class="section-1-container">
        <div class="section-1-under">
            <div class="text-container">
                <h1 class="section-1-title">Научитесь программировать, получите востребованную профессию, углубите
                    знания</h1>
                <p class="section-1-text">Курсы программирования для новичков и&nbsp;опытных разработчиков. Начните
                    обучение сейчас.</p>

                <a class="section-1-btn" href="/courses">Начать сейчас</a>
            </div>
            <div class="img-container">
                <img class="image" src="assets/image/programmer_1505290086-1140x570.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="section-2">
    <div class="section-2-container">
        <div class="section-2-under">
            <div class="title-container">
                <h1 class="section-2-title">Популярные курсы</h1>
            </div>
            <div class="p-courses-container">
                <div class="p-courses-1">
                    <h3 class="p-courses-1-title">PHP-программист</h3>
                    <p class="p-courses-1-text">PHP — серверный язык программирования, применяемый для
                        разработки веб-приложений. Создан специально для
                        бэкенд-разработки. PHP проще для новичков, чем большинство других серверных языков. Slack,
                        Wikipedia, ВКонтакте используют PHP.</p>
                    <div class="p-courses-1-under">
                        <img class="p-courses-img"
                             src="assets/image/php-62c152b20d3ec890416bb2d0fed18e69bc4f6dc0299a1df53184143a19624f3b.svg"
                             alt="">
                        <div class="p-btn-hover">
                            <a class="p-courses-btn" href="/doslab/course?id_courses=15">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="p-courses-2">
                    <h3 class="p-courses-2-title">Java-программист</h3>
                    <p class="p-courses-2-text">Java —  мультипарадигменный язык программирования. Работает на любой
                        архитектуре и может встраиваться в веб-приложения. Широко используется в разработке десктоп-,
                        веб- и мобильных приложений, в банковской, научной и промышленной областях.</p>
                    <div class="p-courses-2-under">
                        <img class="p-courses-img"
                             src="assets/image/java-b0adcc13c9113edb799443891850b7d6d541ca58b5991d30c8d2462b4b607899.svg"
                             alt="">
                        <div class="p-btn-hover">
                            <a class="p-courses-btn" href="/doslab/course?id_courses=10">Подробнее</a></div>
                    </div>
                </div>
                <div class="p-courses-3">
                    <h3 class="p-courses-3-title">Python-программист</h3>
                    <p class="p-courses-3-text">Python — активно развивающийся высокоуровневый язык программирования. На нём
                        разрабатывают искусственный интеллект, веб-сайты, игры. Этот язык одновременно популярный и
                        простой для начинающих. Не зря Python используют в Google, Yandex, Dropbox.</p>
                    <div class="p-courses-3-under">
                        <img class="p-courses-img"
                             src="assets/image/python-fbc3b698dc119b255d16fa5c26c5cb94e3dc9f9d126effea1477add4817d4fa0.svg"
                             alt="">
                        <div class="p-btn-hover">
                            <a href="/doslab/course?id_courses=11" class="p-courses-btn">Подробнее</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-3">
    <div class="section-3-container">
        <div class="section-3-under">
            <div class="section-3-title-container">
                <h1 class="section-3-title">Новые курсы</h1>
            </div>
            <div class="courses-3-section-text"><script>courses_input_main();</script></div>

        </div>
    </div>
</div>