<div class="condition-container">
    <div class="condition">
        <div class="condition-title">
            ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ ООО НПП “DosLab”
        </div>
        <div class="condition-content">
            <div class="condition-1-title">
                ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
            </div>
            <div class="condition-text">
                В настоящем соглашении об обработке персональных данных (далее – Соглашение) нижеприведенные термины
                имеют
                следующие определения:<br>
                Оператор – Общество с ограниченной ответственностью Научно-производственное предприятие "ДосЛаб",
                расположенное по адресу 414032, Астраханская обл, Астрахань г, Аксакова ул, дом 12, 119, осуществляющие
                руководство интернет-сайтами DosLab.ru на условиях настоящего Соглашения.<br>
                Акцепт Соглашения – полное и безоговорочное принятие всех условий Соглашения путем осуществления
                действий по Регистрации на Сайте.<br>
                Персональные данные – информация, внесенная Пользователем (субъектом персональных данных) на Сайт и
                относящаяся прямо или косвенно к данному Пользователю.<br>
                Пользователь – субъект персональных данных или его законный представитель, предоставляющие Оператору
                посредством совершения ряда действий технического характера в соответствующей части пользовательского
                интерфейса Сайта свои персональные данные или персональные данные представляемого лица соответственно.
                Регистрация — процедура внесения Пользователем в базу зарегистрированных пользователей Сайта своих
                персональных данных, производимая с целью идентификации Пользователя. По результатам Регистрации
                создаётся учётная запись Пользователя на Сайте. Регистрация является добровольной.<br>
                Сайт – интернет-сайт, размещенный в сети Интернет по адресу: www.DosLab.ru.<br>
                Запрос – адресованное Оператору поручение Пользователя Сайта, направляемое посредством совершения
                Пользователем Сайта ряда действий технического характера в соответствующей части пользовательского
                интерфейса Сайта.<br>
                Нераскрытые в настоящем разделе согласия субъекта на обработку его персональных данных термины следует
                понимать в значении, установленном для них Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных
                данных".<br>
                Под персональными данными Соискателей понимается нижеуказанная анкетная и биографическая информация:
                Контактная информация, электронная почта.

            </div>
            <div class="condition-1-title">
                УСЛОВИЯ, НА КОТОРЫХ ПОЛЬЗОВАТЕЛЕМ САЙТА ПРЕДОСТАВЛЯЕТСЯ СОГЛАСИЕ
            </div>
            <div class="condition-text">
                Настоящим Пользователь Сайта, установивший «галочку» внутри чекбокса в соответствующей части
                пользовательского интерфейса Сайта над надписью «Поставив галочку внутри данной формы, Вы подтверждаете,
                что ознакомились с пользовательским соглашением и даете согласие на обработку своих персональных данных»,
                свободно, своей волей и в своём интересе предоставляет Оператору конкретное, информированное и
                сознательное Согласие на нижеуказанных условиях:<br>
                Цель обработки персональных данных: исполнение Оператором Запроса, в рамках которого Пользователем Сайта
                предоставляются персональные данные.<br>
                Перечень персональных данных, на обработку которых дается Согласие: Согласие предоставлено Пользователем
                Сайта Оператору на обработку тех персональных данных, которые предоставлены им при заполнении полей
                Запроса.<br>
                Перечень действий с персональными данными, на совершение которых дается Согласие: сбор, запись,
                систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
                обезличивание, блокирование, удаление, уничтожение персональных данных. <br>
                Общее описание используемых Оператором способов обработки персональных данных: неавтоматизированная обработка персональных данных,
                автоматизированная обработка персональных данных, в том числе с передачей и без передачи по сети
                «Интернет», смешанная обработка персональных данных.

            </div>
            <div class="condition-1-title">
                ПОРЯДОК ОТЗЫВА СОГЛАСИЯ
            </div>
            <div class="condition-text">
                Согласие действует в течение одного календарного года и может быть отозвано в любой момент путем
                направления
                Пользователем Сайта соответствующего заявления Оператору на адрес электронного почтового ящика:
                support@DosLab.ru<br>
                Согласие считается отозванным в течение 7 (семи) рабочих дней с даты поступления Оператору указанного
                заявления. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ Настоящим Пользователь Сайта подтверждает, что:<br>
                - он является субъектом предоставленных Оператору персональных данных, а в случае, если субъект
                предоставленных Оператору персональных данных не является дееспособным лицом – что он является законным
                представителем субъекта персональных данных;<br>
                - он ознакомлен с правами и обязанностями субъекта персональных данных, предоставленными ему в
                соответствии
                с Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных", а также с Политикой Оператора в
                отношении обработки персональных данных.

            </div>

        </div>
        <div class="condition-btn">
            <button class="condition-btn1"><a href="/doslab/">Я СОГЛАСЕН</a></button>
        </div>
    </div>
</div>
